@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (TempData["Mgs"] != null)
{
    <div class="alert alert-danger">
        @TempData["Mgs"]
    </div>
}

<form method="post">
    <div class="mb-3">
        <label for="UserName" class="form-label">Username:</label>
        <input type="text" value="@Model.UserName" id="UserName" name="UserName" placeholder="Enter your username" class="form-control" required />
        <p class="text-danger">@Html.ValidationMessage("UserName")</p>
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password:</label>
        <input type="password" value="@Model.Password" id="Password" name="Password" placeholder="Enter your password" class="form-control" required />
        <p class="text-danger">@Html.ValidationMessage("Password")</p>
    </div>

    <div class="text-center">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>
